body {
    text-align: center;
    background-image: url(ocean.jpg) ;
}

#fontColor1 {
    color: rgba(195, 197, 64, 0.932);
}
#fontColor2{
    color:indianred
}

button {
    padding: 20px 50px;
    font-size: 1.5rem;
    cursor: pointer;
    border: 0px;
    position: relative;
    margin: 20px;
    transition: all 0.25s ease;

}
.btn-1 {
    background: #000;
    color: #fff;
    border-radius: 30px;
    transition: all 0.25s ease;
    position: relative;
}
.btn-1:hover {
    transform: translate(-12px, -12px);
}.btn-1:hover::before {
    transform: translate(12px, 12px);
}.btn-1:hover::after {
    transform: translate(6px, 6px);
}
.btn-1::after, .btn-1::before{
    content: "";
    position: absolute;
    opacity: 0.3;
    border-radius: inherit;
    background: #000;
    width: 100%;
    height: 100%;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition:all 0.25s ease ;
}


input,label {
    font-size: 1.5rem;
}
h1 {
    font-family: cursive;
}
h2 {
    font-family: cursive;
}

img { 
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    

}




